.parte1 {grid-area: header; }
.parte2 { grid-area: nav; }
.parte3 { grid-area: main; }
.parte4 { grid-area: aside; }
.parte5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header nav nav'
    'main main main main aside aside'
    'footer footer footer footer footer footer';
  gap: 20px;
  background-color: none;
  padding: 15px;
}

.grid-container > header,nav,main,aside,footer {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: none;
  
}
header{
    position: sticky;
    text-align: center;
    top: 0;
}

@media screen and (min-width: 320px) {
    header{
        position: fixed;
    text-align: center;
    left: 500px;
    }
}
@media screen and (min-width: 768px) {
    header{
        position: fixed;
    text-align: center;
    left: 350px;
    }
}
@media screen and (min-width: 1024px) {
    header{
        position: fixed;
    text-align: center;
    left: 500px;
    }
}

.label-menu {
    position: absolute;
  }
  .check-menu {
    display: none;
  }
  .check-menu:checked + div {
    transform: none;
  }
  .enlaces-menu {
    display: grid;
    grid: column;
    text-align:left;
    transform: translateY(-200%);
    color: rgb(81, 170, 141);
    font-size: 15px;
    background-color: none;
    
  }

  .material-symbols-outlined {
    font-size: 17px;
    color: rgb(81, 170, 141);
  }
  .material-symbols-outlined:hover{
    color: blue;
  }
  .inicio1:hover{
   color: rgb(81, 170, 141);
  }
  .pasatiemposfavoritos1:hover{
    color: rgb(81, 170, 141);
  }
  .generosmusicales1:hover{
    color: rgb(81, 170, 141);
  }
  .contacto1:hover{
    color: rgb(81, 170, 141);
  }

h1 {
    background-color: rgb(81, 170, 141);
    color: white;
    text-align: start;
    word-spacing:normal;
    padding: 10px;
    font-size: 28px;
    text-transform: capitalize;
    text-shadow: 4px 4px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.eduardoalaña {
    background-color: rgb(81, 170, 141);
    color: white;
    text-align: start;
    font-size: 25px;
    word-spacing:normal;
    padding: 10px;
  text-decoration: dashed;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.estudiantedeprogramacion {
background-color: rgb(81, 170, 141);
color: white;
padding: 8px;
font-size: 20px;
word-spacing:normal;
text-transform: left;

}
.definicionon{
    background-color: white;
    color:black;
    font-size: 25px;
    padding: 6,5px;
    font-family: Playpen Sans;
}
.mifoto05 {
    width: 500px;
    margin: auto;
    border-radius: 1000px;
    text-decoration-line: overline;
}
div{
    color: rgb(81, 170, 141);
    font-size: 18px;
    font-family: Poppins;
    text-align: center;
}
span{
    color: rgb(81, 170, 141);
    font-size: 28px;
    font-family: Poppins;
    text-align: center;
}
.ubicaciondecabimas {
    color: rgb(81, 170, 141);
    font-size: 25px;
}
.mispasatiemposfavoritos {
    color: rgb(81, 170, 141);
    font-family: Poppins;
    font-size: 16px;
}
.rankingdemiscomidasfavoritas {
    color: rgb(81, 170, 141);
    font-family: Poppins;
    text-align: center;
    font-size: 16px;
}
li {
 color: rgb(81, 170, 141);
 font-family: Libre Baskerville;
 font-size: 17px;
 text-align: start;
}
dt {
    color: rgb(81, 170, 141);
    font-family: Kdam Thmor Pro;
    font-size: 25px;
    
}
dd {
    color: rgb(81, 170, 141);
    font-family: Poppins;;
    text-align: center;
}
.mihorariolunesaviernes {
    color: rgb(81, 170, 141);
    font-family: Poppins;;
    text-align: center;
    font-size: 45px;
}
table {
    border: 1px solid black;
  width: 800px;
  margin: auto;
}
.mihorariolosfinesdesemana {
    color: rgb(81, 170, 141);
    font-family: Poppins;;
    text-align: center;
    font-size: 44px;
    font-size: 45px;
}
th,
td {
  border: 8px solid rgb(81, 170, 141);
  width: 800px;
  margin: auto;
}
.misgenerosmusicales {
    color: rgb(81, 170, 141);
    font-family: Poppins;;
    text-align: center;
    font-size: 30px;
}
.reggaeton {
    color: rgb(81, 170, 141);
    font-family: Poppins;
    font-size: 20px;
    
}
.rap {
    color: rgb(81, 170, 141);
    font-family: Poppins;;
    font-size: 20px;
    
}


.redessociales {
    color: rgb(81, 170, 141);
    font-family: Poppins;;
    font-size: 30px;
    text-decoration: double;
    text-align: center
}
.github {
    color: rgb(81, 170, 141);
    font-family: Poppins;;
    font-size: 18px;
    text-align: right;
}
.github:hover{
    color: black
}
.botonparasubir:hover{
    color: rgb(81, 170, 141);
}
.instagram{
    color: rgb(81, 170, 141);
    font-family: Poppins;;
    font-size: 18px;
    text-align: right;
}
.instagram:hover{
    color: purple
}
